<h1>Listado de Heroes</h1>
<hr>
<div class="row mb-5">
  <div class="col">
    <button type="button"
            class="btn btn-primary float-end" routerLink="/heroe/nuevo">
      <i class="bi bi-plus-lg"></i>
      Agregar
    </button>
  </div>
</div>
<table class="table mt-3 animate__animated animate__fadeIn" *ngIf="heroes.length!==0 && cargando===false">
  <thead class="bg-black bg-opacity-75 text-white text-center">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nombre</th>
    <th scope="col">Poder</th>
    <th scope="col">Vivo</th>
    <th scope="col">Tools</th>
  </tr>
  </thead>
  <tbody class="text-center">
  <tr *ngFor="let heroe of heroes;let i=index">
    <th scope="row">{{i + 1}}</th>
    <td>{{heroe.nombre}}</td>
    <td>{{heroe.poder}}</td>
    <td>
      <span *ngIf="heroe.vivo" class="badge rounded-pill bg-success">Vivo</span>
      <span *ngIf="!heroe.vivo" class="badge rounded-pill bg-danger">Muerto</span>
    </td>
    <td>
      <button type="button"
              class="btn btn-info rounded-circle me-2"
              [routerLink]="['/heroe',heroe.id]">
        <i class="bi bi-pencil text-white"></i>
      </button>
      <button type="button" class="btn btn-danger rounded-circle" (click)="borrarHeroe(heroe,i)">
        <i class="bi bi-trash text-white"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
<div class="alert alert-primary animate__animated animate__fadeIn" role="alert" *ngIf="cargando">
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <p class="h4">
      Cargando. Espere por favor.
    </p>
  </div>
</div>
<div class="alert alert-warning animate__animated animate__fadeIn" role="alert" *ngIf="heroes.length===0 && cargando===false">
  <div class="d-flex justify-content-center">
    <p class="h4">
      <i class="bi bi-exclamation-triangle-fill me-2"></i>
      No hay registros.
    </p>
  </div>
</div>
